@import url('https://fonts.googleapis.com/css?family=Arimo');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEE1FF;
}

.top-menu {
  background: rgba(141,101,192,1);
  box-shadow: 0 10px 7px rgba(0,0,0,.5);
  padding: 0 10px;
  position: relative;
  height: 120px;
  z-index: 2;
}
.top-menu:after {
  content: "";
  display: table;
  clear: both;
}
.navbar-logo {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 10px;
}

.navbar-logo img{
    width: 160px;
    height: 160px;
}

.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  float: right;
}
.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 38px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #E4D5EB;
  transition:.3s linear;
}

.active{  
    text-decoration:none;
    border-bottom: 1px solid #E4D5EB;
    content: "";
    background-color: #7144AB;
    height: 100%;
}

.menu-main li:hover {
    content: "";
    background-color: #7144AB;
    height: 100%;
}

.menu-main a:hover {
    text-decoration:none;
    border-bottom: 1px solid;
}

.car-baner{
    background-image:linear-gradient(rgba(181, 159, 210, 0.8), rgba(181, 159, 210, 0.8)), url(../img/search_bar_photo.webp);
    background-position: 0px -200px;
    background-size: cover;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rebeccapurple;
    height: 510px;
    width: 90%;
    z-index: 0;
}

.search-bar {
    position: absolute;
    display: block;
    background-color:rgba(111, 77, 132, 0.85);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rebeccapurple;
    border-radius: 15px 15px 0 0;
    height: 40%;
    width: 65%;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.header-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #54386A;
    width: 180px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 3%;
    border: 2px solid #653497;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 7px rgba(0,0,0,.5);
}

.header-wrapper h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #E4D5EB;
    font-weight: normal;
    text-align: center;
}

.numeric-input select, .letter-input select{
    width: 100%;
    height: 100%;
    background-color: #CEC0D4;
    border-radius: 5px;
    border: 2px solid #653497;
}

.search-bar-inputs-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.search-bar-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.search-bar-inputs ul {
    display: inline-flex; 
    text-align: center;
    flex-wrap: wrap;
    list-style: none;
    position: absolute;
    width: 100%; 
}

.search-bar-inputs-wrapper a {
    position: absolute;
    bottom: 14%;
    right: 13%; 

    display: inline-block;
    width: 50px;
    padding: 4px 20px;
    background-color: #573899;
    border: 2px solid #4E007D;
    color: #E4D5EB;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.search-bar-inputs-wrapper a:hover{
    background-color: #341B67;
}

.search-bar-inputs .letter-input {
    width: 190px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;    
}

.search-bar-inputs .numeric-input {
    width: 105px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
}

.product-range{
    margin-top: 50px;
    width: 85%;
    height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #E5D2F1;
}

.product-range .header-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(84, 56, 106, .75);
    width: 180px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #653497;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 7px rgba(0,0,0,.5);
}

  
.product-grid {
    width: 85%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    padding: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #E5D2F1;
}

.product-card {
    background-color: #E0C3F2;
    border: 2px solid #653497;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.product-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product-card a {
    text-decoration: none;
    color: #000;
}

.product-card p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.button-show-more{
    background-color: #E5D2F1;
    width: 85%;
    height: 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

.show-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #573899;
    border: 2px solid #4E007D;
    color: #E4D5EB;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.show-more:hover{
    background-color: #341B67;
}

.dash{
    height: 3px;
    width: 85%;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #4E007D;
}

.about-header-wrapper{
    margin-top: 50px;
    width: 85%;
    height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(181, 159, 210, 0.8);
}

.about-header-wrapper .header-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(84, 56, 106, .75);
    width: 180px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #653497;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 7px rgba(0,0,0,.5);
}

.slider {
    position: relative;
    height: 800px;
    width: 85%;
    margin: 0 auto;
  }
  
  .slides {
    background-color: rgba(181, 159, 210, 0.8);
    display: flex;
    height: 80%;
    flex-wrap: nowrap;
    overflow-x: hidden;
    justify-content: center;
    justify-items: center;
  }
  
  .slide {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .slide.active-slide {
    display: flex;
  }
  
  .slide-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    height: 100%;
    overflow: hidden;
  }
  
  .slide-content {
    width: 40%;
    justify-self: start;
    padding-left: 20px;
    flex: 1;
    border: 2px solid #653497;
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .slide-active {
    transform: translateX(0%);
  }
  
  .slide-content p {
    font-size: 25px;
    padding-right: 10px;
    margin-top: 20px;
  }
  
  .slide-content h2 {
    font-size: 35px;
    width: 40%;
    justify-self: start;
    text-align: center;
    flex: 1;
  }
  
  .slide img {
    width: 100%;
    margin: auto;
    display: block;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 100px;
  }
  
  .navigation button {
    background-color: #573899;
    border: 2px solid #4e007d;
    color: #e4d5eb;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .navigation button:hover {
    background-color: #341b67;
  }
    
  
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(141,101,192,1);
  box-shadow: 0 -10px 7px rgba(0,0,0,.5);
  }
  
  .footer-block {
    flex-basis: calc(33.33% - 20px);
    text-align: center;
  }
  
  .footer-block h3 {
    margin-bottom: 10px;
    color: #E4D5EB;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 5px;
  }
  
  .logo {
    margin: 0 auto;
  }

  .logo img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .contacts ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #E4D5EB;
  }
  
  .contacts li {
    margin: 10px;
  }
  
  .contacts i {
    margin-right: 5px;
  }

  .social-icons .i {
    font-size: 24px;
    line-height: 36px;
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 50%;
    background-color: #573899;
    color: #fff;
    transition: all 0.3s;
  }
  
  .social-icons a:hover .i {
    transform: scale(1.2);
  }

@media (max-width: 950px){
    .search-bar{
        height: 50%;
    }
}

@media (max-width: 768px){
    .search-bar-inputs ul {
        flex-direction: column;
    }

    .search-bar{
        height: 80%;
    }

    .search-bar-inputs-wrapper a {
        position: absolute;
        bottom: 7%; 
        right: 150px;
    }
}

@media (max-width: 519px){
    .search-bar-inputs-wrapper a {
        position: absolute;
        bottom: 7%; 
        left: 15px;
    }
}

@media (max-width: 335px){
    .search-bar-inputs .letter-input {
        width: 105px;
        height: 40px;  
    }

    .search-bar .header-wrapper {
        left: 5%;
        width: 130px;
    }
}

@media (max-width: 1400px) {
    .car-baner {
        background-position: 0px -100px;
    }
}

@media (max-width: 1200px) {
    .car-baner {
        background-position: 0px 0px;
    }
}

@media (max-width: 660px) {
    .menu-main {
        float: none;
        padding-top: 20px;
    }
    .top-menu {
        height: 250px;
        text-align: center;
        padding: 20px 0 0 0;
    }
    .navbar-logo{
        right: 30px;
        bottom: 0;
    }
    .menu-main a {padding: 0 10px;}
}
@media (max-width: 600px) {
    .menu-main li {display: block;}
    .top-menu {
        height: 350px;
    }
    .navbar-logo{
        bottom: 0;
    }
}
